html{font-family: 'Titillium Web',sans-serif;text-align: center}

body{
    background-color: #7E858B;
}

h1{
        font-size:xx-large;
        text-align: center;
        background: linear-gradient(300deg, #81c752,#27b0c2, #f09743,#eb6174);
        color:#15133C;
}

.gradientHeader{

        font-size:xxx-large;
        padding: 2%;
        text-align: center;
        background: linear-gradient(300deg, #81c752,#27b0c2, #f09743,#eb6174);
        color:#15133C;
        background-size: 180%;
        animation: gradient-animation 60s ease;     

}

.gradientFooter{    
    text-align: center;
    padding: 2%;
    background: linear-gradient(300deg, #81c752,#27b0c2, #f09743,#eb6174);
    color:#15133C;
    background-size: 180%;
    animation: gradient-animation 60s ease;     

}

@keyframes gradient-animation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }

}

h2{font-size: 1.5rem}

p{color:#1f262e;font-size: 1rem; text-align: center; margin-left: 5%; margin-right: 5%;}

hr{margin-top: 10px; margin-bottom: 10px;}    

div.flexcontainer{display: inline-flex; align-items: center; justify-content: center;}

div.container, div.block{text-align: center;}

ul.normlist, ol.normlist{display: inline-block;text-align: left;}

.navlist{list-style: none; display: inline-flex; gap: 50px;}

.img_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;}

.link{color: EC994B;}
.saying{color: #0e0952;font-style: italic; margin: 20px;}
.mjimg{width: 100%;}

#meimg{
    border-radius: 50%; 
    width:300px; 
    height: 300px; 
    object-fit: cover; 
    margin-left:auto; 
    margin-right: auto;}

div#movingcircle{
    background-color: #EC994B;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: auto;
    margin-right: auto;
    z-index: -1;}    


@media (max-width: 800px){
    body{
        background-color: #e4f1fd;
    }

    .gradientHeader{    
        font-size:x-large;
    }

    h1{font-size:x-large}
    h2{font-size: 1rem}
    h3{font-size: 1rem}

    .img_grid{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .nav-item{
        width: 100%;
        margin-top: none;
    }

    p{color:#5b5d5f;margin-left: 10%; margin-right: 10%;}
    .navlist{flex-direction: column; justify-content: center; margin-left: -20%; gap: 2px;} 

    #meimg{
        width:100px; 
        height: 100px;}

        div#movingcircle{
            width: 50px;
            height: 50px;
            top: 100px;
        }
}

@media (min-width: 801px) and (max-width: 1200px){
    body{
        background-color: #c2cdd7;
    }

    .gradientHeader{    
        font-size:xx-large;
    }

    h1{font-size:xx-large;}

    p{color:#5b5d5f; margin-left: 10%; margin-right: 10%;}
    
    .navlist{gap: 30px;}

    .img_grid{
        grid-template-columns: repeat(2, 1fr);}

    #meimg{
        width:200px; 
        height: 200px;}

    div#movingcircle{
        width: 120px;
        height: 120px;
        }
    
}

@media (min-width: 1201px) and (max-width: 1600px){
    body{
        background-color: #a0a9b1;
    }

    .gradientHeader{    
        font-size:xx-large;
    }

    h1{font-size:xx-large;}

    .navlist{gap: 20px;}

    .img_grid{
        grid-template-columns: repeat(3, 1fr);}

    #meimg{
        width:250px; 
        height: 250px;}

        div#movingcircle{
            width: 150px;
            height: 150px;
        }

    }

@media (min-width: 1601px) {
    
}


